@using ChrisCafe.Models;
@using ChrisCafe.Models.ViewModels;
@model ChrisCafe.Models.ViewModels.FullMenu;
@{
    ViewData["Title"] = "Breakfast & Lunch Menu";
}
<div class="menu">
    @*<div class="menuNav">
            <div class="navCategory">Breakfast</div>
            <div class="navCategory">Lunch</div>
            <div class="navCategory">Lunch Specials</div>
        </div>*@
    <div class="menuNote">
        <span>Breakfast and lunch options are both available any time!</span>
    </div>

    @if (Model.ShowBreakfast)
    {
        <div class="category">
            <div class="bar left"></div>
            <div class="categoryText">Breakfast</div>
            <div class="bar right"></div>
        </div>

        @foreach (SubcategoryItem si in Model.BreakfastMenu)
        {
            <div class="subCategoryContainer">
                @if (!String.IsNullOrWhiteSpace(si.Description))
                {
                    <div class="subCategory"><span class="subCategoryName">@si.Name</span></div>
                    <div class="subCategory description"><span class="subCategoryDescription">@si.Description</span></div>
                }
                else
                {
                    <div class="subCategory noDescription"><span class="subCategoryName">@si.Name</span></div>
                }

                @foreach (MenuItem mi in si.Items)
                {
                    <div class="menuItem">
                        <span class="itemName">@mi.Name</span>
                        <span class="itemPrice">$@mi.Price.ToString("0.00")</span>
                        <span class="itemDescription">@mi.Description</span>
                    </div>
                }
            </div>
        }
    }

    @if (Model.ShowLunch)
    {
        <div class="category">
            <div class="bar left"></div>
            <div class="categoryText">Lunch</div>
            <div class="bar right"></div>
        </div>

        @foreach (SubcategoryItem si in Model.LunchMenu)
        {
            <div class="subCategoryContainer">
                @if (!String.IsNullOrWhiteSpace(si.Description))
                {
                    <div class="subCategory"><span class="subCategoryName">@si.Name</span></div>
                    <div class="subCategory description"><span class="subCategoryDescription">@si.Description</span></div>
                }
                else
                {
                    <div class="subCategory noDescription"><span class="subCategoryName">@si.Name</span></div>
                }

                @foreach (MenuItem mi in si.Items)
                {
                    <div class="menuItem">
                        <span class="itemName">@mi.Name</span>
                        <span class="itemPrice">$@mi.Price.ToString("0.00")</span>
                        <span class="itemDescription">@mi.Description</span>
                    </div>
                }
            </div>
        }
    }
</div>
