@{
    string CurrentPage = ViewData["CurrentPage"].ToString();
    string PageTitle = ViewData["Title"].ToString() == "" ? "Chris' Cafe" : ViewData["Title"] + " - Chris' Cafe";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="description" content="Chris' Cafe - Serving traditional American comfort food." />
    <meta name="keywords" content="Chris Cafe, Breakfast, Lunch, Clearfield Utah" />
    <meta name="keywords" content="pancakes, French Toast, Omelettes, Eggs Benedict" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-site-verification" content="5FDtW46ifbAoncJwI1ZReZECTkYuKzHb0F8AN9NO24c" />

    <link rel="icon" href="~/favicon.ico" />
    <link rel="icon" type="image/png" href="~/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="~/favicon-16x16.png" sizes="16x16" />
    <title>@(PageTitle)</title>

    @* Bootstrap v5.3 *@
    <link href="~/pkg/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
    <environment include="Development" exclude="Production">
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </environment>
    <environment include="Production" exclude="Development">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    @* --- Header --- *@
    <!-- Try the chile verde - it's delicious! -->
    <nav class="container-fluid navbar navbar-expand-lg" role="navigation">
        <div class="container-fluid"> @* Bootstrap v5 navbars requires a container inside of the nav. (Ref: the 5.0 migration navbar notes) *@
            @* --- Logo/Branding --- *@
            <div class="navbar-brand-container d-flex flex-row">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">
                  <img class="navLogo img-fluid" src="~/images/logo-c.webp" alt="logo" />
                </a>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Chris' Cafe</a>
            </div>

            @* --- Toggler --- *@
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarEntries" aria-controls="navbarEntries" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon menu-white"></span>
            </button>

            @* --- Nav Items --- *@
            <div class="collapse navbar-collapse justify-content-center mb-md-0 mb-2" id="navbarEntries">
                <ul class="navbar-nav">
@*                    <li class="nav-item navOption @(CurrentPage == "Home" ? "currentLocation" : null)">
                        <a asp-area="" asp-controller="Home" asp-action="Index" class="mt-auto mb-auto" aria-current=@(CurrentPage == "Home" ? "page" : null)>Home</a>
                    </li>*@
                    <li class="nav-item navOption @(CurrentPage == "Menu" ? "currentLocation" : null)">
                        <a asp-area="" asp-controller="Menu" asp-action="Index" aria-current=@(CurrentPage == "Menu" ? "page" : null)>Menu</a>
                    </li>
                    <li class="nav-item navOption @(CurrentPage == "Catering" ? "currentLocation" : null)">
                        <a asp-area="" asp-controller="Catering" asp-action="Index" aria-current=@(CurrentPage == "Catering" ? "page" : null)>Catering</a>
                    </li>
                    <li class="nav-item navOption @(CurrentPage == "About" ? "currentLocation" : null)">
                        <a asp-area="" asp-controller="About" asp-action="Index" aria-current=@(CurrentPage == "About" ? "page" : null)>About</a>
                    </li>
                    <li class="nav-item navOption @(CurrentPage == "ContactLocate" ? "currentLocation" : null)">
                        <a asp-area="" asp-controller="About" asp-action="Contact" aria-current=@(CurrentPage == "ContactLocate" ? "page" : null)>Contact & Location</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    @* --- Body --- *@
    <section>
        <div class="@(CurrentPage == "Home" ? "container-fluid no-gutters" : "container top-bottom-margins") body-content">
            @RenderBody()
        </div>
    </section>

    @* --- Footer --- *@
    @await Html.PartialAsync("~/Views/Shared/Footers/MainFooter.cshtml")

    @* Bootstrap v5.3 *@
    <script src="~/pkg/js/bootstrap.min.js" asp-append-version="true"></script>
</body>
</html>
